# üßπ –≠—Ç–∞–ø 3: –ü—Ä–µ–¥–æ–±—Ä–∞–±–æ—Ç–∫–∞ –∏ Feature Engineering

## üéØ–¶–µ–ª–∏ —ç—Ç–∞–ø–∞
* –û–±—Ä–∞–±–æ—Ç–∫–∞ –ø—Ä–æ–ø—É—Å–∫–æ–≤
* –û–±—Ä–∞–±–æ—Ç–∫–∞ –≤—ã–±—Ä–æ—Å–æ–≤
* –ö–æ–¥–∏—Ä–æ–≤–∞–Ω–∏–µ –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã—Ö –ø—Ä–∏–∑–Ω–∞–∫–æ–≤
* Feature Engineering (—Å–æ–∑–¥–∞–Ω–∏–µ –Ω–æ–≤—ã—Ö –ø—Ä–∏–∑–Ω–∞–∫–æ–≤)
* –ú–∞—Å—à—Ç–∞–±–∏—Ä–æ–≤–∞–Ω–∏–µ —á–∏—Å–ª–æ–≤—ã—Ö –ø—Ä–∏–∑–Ω–∞–∫–æ–≤
* –ë–æ—Ä—å–±–∞ —Å –¥–∏—Å–±–∞–ª–∞–Ω—Å–æ–º –∫–ª–∞—Å—Å–æ–≤
* –ü–æ–¥–≥–æ—Ç–æ–≤–∫–∞ –¥–∞–Ω–Ω—ã—Ö –¥–ª—è –º–æ–¥–µ–ª–∏—Ä–æ–≤–∞–Ω–∏—è

## 3.1 - 3.4) üõ†Ô∏è–ü—Ä–µ–¥–æ–±—Ä–∞–±–æ—Ç–∫–∞ –¥–∞—Ç–∞—Å–µ—Ç–∞

In [1]:
import sys
import os
import pandas as pd

os.chdir('..')

sys.path.insert(0, 'src')

from preprocessing import ProprocessingData

os.chdir('notebooks')

df = pd.read_csv('../data/Churn_Modelling.csv')

preprocessor = ProprocessingData(df)
df_processed = preprocessor.preprocessing()

–ü—Ä–æ–ø—É—Å–∫–∏ –¥–æ –æ–±—Ä–∞–±–æ—Ç–∫–∏:

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          1
Gender             0
Age                1
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          1
IsActiveMember     1
EstimatedSalary    0
Exited             0
dtype: int64

–ó–∞–ø–æ–ª–Ω–µ–Ω—ã –ø—Ä–æ–ø—É—Å–∫–∏ –≤ Geography –∑–Ω–∞—á–µ–Ω–∏–µ–º: France
–ó–∞–ø–æ–ª–Ω–µ–Ω—ã –ø—Ä–æ–ø—É—Å–∫–∏ –≤ Age –∑–Ω–∞—á–µ–Ω–∏–µ–º: 37.0
–ó–∞–ø–æ–ª–Ω–µ–Ω—ã –ø—Ä–æ–ø—É—Å–∫–∏ –≤ HasCrCard –∑–Ω–∞—á–µ–Ω–∏–µ–º: 1.0
–ó–∞–ø–æ–ª–Ω–µ–Ω—ã –ø—Ä–æ–ø—É—Å–∫–∏ –≤ IsActiveMember –∑–Ω–∞—á–µ–Ω–∏–µ–º: 1.0

–ü—Ä–æ–ø—É—Å–∫–∏ –ø–æ—Å–ª–µ –æ–±—Ä–∞–±–æ—Ç–∫–∏:
RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

–£–¥–∞–ª–µ–Ω—ã —Å—Ç–æ–ª–±—Ü—ã: ['RowNumber', 'CustomerId', 'Surname']
–û—Å—Ç–∞–≤—à–µ–µ—Å—è –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—Ä–∏–∑–Ω–∞–∫–æ–≤: 11

üéØ –°–æ–∑–¥–∞–Ω–∏–µ –Ω–æ–≤—ã—Ö –ø—Ä–∏–∑–Ω–∞–∫–æ–≤...
   –°–æ–∑–¥–∞–Ω—ã: Is_Senior_Active, Active_With_Multiple_Products, Value_Client
   New_HighRisk, German_Female_Risk, AgeGroup

üîç –ö–æ—Ä—Ä–µ–ª—è—Ü–∏–∏ –Ω–æ–≤—ã—Ö –ø—Ä–∏–∑–Ω–∞–∫–æ–≤: (–∫—Ä–∏—Ç. –∑–Ω–∞—á–µ–Ω–∏–µ —Å—á–∏—Ç–∞–µ–º >= 0.6)
Is_Senior_Active: {'Is_Senior_Active': 1.0, 'Age': 0.5725733137065693}
New_HighRisk: ‚úÖ –ù–µ—Ç —Å–∏–ª—å–Ω—ã—Ö –∫–æ—Ä—Ä–µ–ª—è—Ü–∏–π
Active_With_Multiple_Products: {'Active_With_Multiple_Products': 1.0, 'NumOfProducts': 0.5856695746468885, 'IsActiveMember': 0.573357776853284}
Value_Client: ‚úÖ –ù–µ—Ç —Å–∏–ª—å–Ω—ã—Ö –∫–æ—Ä—Ä–µ–ª—è—Ü–∏–π
German_Female_Risk: ‚úÖ –ù–µ—Ç —Å–∏–ª—å–Ω—ã—Ö –∫–æ—Ä—Ä–µ–ª—è—Ü–∏–π

–ó–∞–∫–æ–¥–∏—Ä–æ–≤–∞–Ω—ã –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã–µ –ø—Ä–∏–∑–Ω–∞–∫–∏!

‚úÖ –ü—Ä–µ–¥–æ–±—Ä–∞–±–æ—Ç–∫–∞ –∑–∞–≤–µ—Ä—à–µ–Ω–∞!

In [2]:
df_processed

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,...,New_HighRisk,German_Female_Risk,Geo_France,Geo_Germany,Geo_Spain,AgeGroup_18-30,AgeGroup_31-40,AgeGroup_41-50,AgeGroup_51-60,AgeGroup_60+
0,619,0,42.0,2,0.00,1,1.0,1.0,101348.88,1,...,0,0,1,0,0,0,0,1,0,0
1,608,0,41.0,1,83807.86,1,0.0,1.0,112542.58,0,...,1,0,0,0,1,0,0,1,0,0
2,502,0,42.0,8,159660.80,3,1.0,0.0,113931.57,1,...,0,0,1,0,0,0,0,1,0,0
3,699,0,39.0,1,0.00,2,0.0,0.0,93826.63,0,...,0,0,1,0,0,0,1,0,0,0
4,850,0,43.0,2,125510.82,1,1.0,1.0,79084.10,0,...,0,0,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9997,709,0,36.0,7,0.00,1,0.0,1.0,42085.58,1,...,0,0,1,0,0,0,1,0,0,0
9998,772,1,42.0,3,75075.31,2,1.0,0.0,92888.52,1,...,0,0,0,1,0,0,0,1,0,0
9999,772,1,42.0,3,75075.31,2,1.0,0.0,92888.52,1,...,0,0,0,1,0,0,0,1,0,0
10000,792,0,28.0,4,130142.79,1,1.0,0.0,38190.78,0,...,0,0,1,0,0,1,0,0,0,0
10001,792,0,28.0,4,130142.79,1,1.0,0.0,38190.78,0,...,0,0,1,0,0,1,0,0,0,0

In [3]:
df_processed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10002 entries, 0 to 10001
Data columns (total 23 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   CreditScore                    10002 non-null  int64
 1   Gender                         10002 non-null  int64
 2   Age                            10002 non-null  float64
 3   Tenure                         10002 non-null  int64
 4   Balance                        10002 non-null  float64
 5   NumOfProducts                  10002 non-null  int64
 6   HasCrCard                      10002 non-null  float64
 7   IsActiveMember                 10002 non-null  float64
 8   EstimatedSalary                10002 non-null  float64
 9   Exited                         10002 non-null  int64
 10  Is_Senior_Active               10002 non-null  int32
 11  Active_With_Multiple_Products  10002 non-null  int32
 12  Value_Client                   10002 non-null  int32
 13  New_HighRisk                   10002 non-null  int32
 14  German_Female_Risk             10002 non-null  int32
 15  Geo_France                     10002 non-null  int32
 16  Geo_Germany                    10002 non-null  int32
 17  Geo_Spain                      10002 non-null  int32
 18  AgeGroup_18-30                 10002 non-null  int32
 19  AgeGroup_31-40                 10002 non-null  int32
 20  AgeGroup_41-50                 10002 non-null  int32
 21  AgeGroup_51-60                 10002 non-null  int32
 22  AgeGroup_60+                   10002 non-null  int32
dtypes: float64(5), int32(13), int64(5)
memory usage: 1.3 MB